.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 4px 40px;
    position: fixed;
    box-shadow: 0 0 3px 2px rgba(0, 0, 255, 0.654);
    background-color: white;
}
.navbar_brand {
    width: 100px;
    height: auto;
}
.navbar_links {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.navbar_item a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}
.btn_Navbar{
    width: 100px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
.btn_Navbar a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: white;
}